<h1><strong>STUPID COACHING</strong></h1>
<form action="/answer" method = "get">
  <input type="text" name="question" placeholder="ask your coach anything">
  <input class= "color" type="submit" value="Ask!">
</form>
